<html>
	<head>
		<title>Welcome to Webplaylist</title>
	</head>
	<body class="welcomepage">
		<label id="intro">Webplaylist</label>
		<label id="introsub">Make playlists from Youtube!</label>
		<button id="sign_in", "btn btn-danger btn-large">
	</body>
</html>